

body {
    margin:0;
    padding:0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    background: black;


}

.logo img{

    width: 88px;
    height: 84px;
    margin-right: auto;
    margin-left: 100px;
}

.header-link a {
    text-decoration : none;
    color: rgb(255, 230, 0);
}

.header-link {
    display: flex;
    gap: 30px;
    margin-left:auto;
    margin-right:100px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hero-cta {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding:0;
    margin-right:50px;
    color: rgb(255, 230, 0);
    
}

h1 {
    margin:0;
}

.hero-cta button {
    border-radius: 10px;
    width: 65px;
    font-size: 15px;
    margin-left: 230px;
    color: #000;
    border-color: rgb(255, 230, 0);
    
}

.hero-image img {
    width: 400px;
    height: 450px;
    margin-bottom: 50px;
    border-radius: 50px;
    border-color: rgb(255, 230, 0) ;
    border-style: dashed;

}

.content {
    align-items: center;
    background-color:rgb(255, 217, 0) ;
}

.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.quote p {
    font-size: 45px;
}

.quote b {
    font-size: 30px;
    padding-left: 560px; 
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0) ;
    padding:10px;
    margin: 50px 500px;
    border-radius: 50px;
    border-color: #000;
    border-style:outset;


}

.signs-texts {
    color: black;

}
.link a {
    font-size: 25px;
    padding: 5px 50px;
    text-decoration: none;
    color: black;

}

.footer {
    background-color: black;
}

.footer p {
    color: rgb(255, 217, 0);
}